body{
    background-color:#333533;
    
}
h1{
    background-color:gray;
    color: white;
    font-size: 64px;
    align-items: center;
    
}
.divOne{
    width: 200px;
    height: 200px;
    background-color: orange; 
    display: flex;
justify-content: center;
align-items: center;
}
.divtwo{
    width: 100px;
    height: 100px;
    background-color: black;
}